@font-face {
  font-family: ProximaNovaECT;
  src: url(../Proxima_Nova_Extra_Condensed_Thin.otf); }

@font-face {
  font-family: GillSansUB;
  src: url(../GILSANUB.TTF); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%; }

body {
  background-color: white; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px; }

nav {
  max-width: 980px;
  height: 80px;
  margin: 0 auto;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99; }
  nav span {
    color: white;
    margin: 0 20px; }
  nav .logo {
    width: 92px;
    height: 42px; }
  nav .links a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-family: GillSansUB; }

.banner {
  max-width: 1280px;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/main-header-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -80px auto 0 auto; }
  .banner .herotext {
    text-align: center;
    padding-top: 162px;
    color: white; }
    .banner .herotext h1 {
      font-size: 60px;
      font-family: ProximaNovaECT; }
    .banner .herotext h3 {
      font-size: 20px;
      width: 714px;
      margin: 0 auto;
      font-family: GillSansUB; }
    .banner .herotext a {
      margin: 0 auto;
      display: block;
      background-color: #79addc;
      height: 40px;
      width: 121px;
      font-size: 15px;
      padding-top: 10px;
      text-decoration: none;
      color: white;
      margin-top: 48px; }

.form-content {
  max-width: 818px;
  min-height: 200px;
  margin: 0 auto;
  padding-bottom: 100px; }
  .form-content input {
    font-family: GillSansUB;
    font-size: 18px;
    color: black; }
    .form-content input::placeholder {
      color: black; }
  .form-content .submit {
    width: 813px;
    height: 60px;
    font-size: 15px;
    margin: 37px auto 0 auto;
    background-color: #79addc;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    border-color: #79addc;
    border-style: solid;
    font-family: GillSansUB; }
  .form-content .message {
    width: 818px;
    height: 192px;
    margin-top: 20px;
    padding-left: 10px;
    border-color: #79addc;
    border-style: solid;
    border-width: 3px;
    font-family: GillSansUB; }
    .form-content .message::placeholder {
      color: black; }
  .form-content .attendees {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    font-family: GillSansUB; }
    .form-content .attendees .adults {
      display: flex; }
      .form-content .attendees .adults h2 {
        font-size: 18px;
        color: black;
        padding-top: 20px; }
      .form-content .attendees .adults select {
        margin-left: 56px;
        border-color: #79addc;
        border-style: solid;
        border-width: 3px;
        width: 103px;
        height: 58px;
        color: black;
        font-family: GillSansUB; }
    .form-content .attendees .children {
      display: flex; }
      .form-content .attendees .children h2 {
        font-size: 18px;
        color: black;
        padding-top: 20px; }
      .form-content .attendees .children select {
        margin-left: 56px;
        border-color: #79addc;
        border-style: solid;
        border-width: 3px;
        width: 103px;
        height: 58px;
        font-family: GillSansUB; }
    .form-content .attendees .rooms {
      display: flex; }
      .form-content .attendees .rooms h2 {
        font-family: GillSansUB;
        font-size: 18px;
        color: black;
        padding-top: 20px; }
      .form-content .attendees .rooms select {
        margin-left: 56px;
        border-color: #79addc;
        border-style: solid;
        border-width: 3px;
        width: 103px;
        height: 58px;
        font-family: GillSansUB; }
  .form-content .formtitle {
    font-size: 60px;
    padding-top: 50px;
    color: black;
    font-family: ProximaNovaECT; }
  .form-content .top-boxes {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .form-content .top-boxes h2 {
      font-family: GillSansUB;
      font-size: 18px;
      color: black;
      padding-top: 20px;
      width: 120px; }
    .form-content .top-boxes .check {
      width: 698px; }
    .form-content .top-boxes .long-boxes {
      width: 453px; }
    .form-content .top-boxes .icon {
      margin-left: -30px; }
    .form-content .top-boxes input {
      width: 344px;
      height: 58px;
      padding-left: 10px;
      border-color: #79addc;
      border-style: solid;
      border-width: 3px; }

.promotours {
  display: flex;
  width: 810px;
  height: 305px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: -37px;
  font-family: ProximaNovaECT; }
  .promotours .container-one {
    width: 232px;
    height: 305px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/asset-5@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .promotours .container-one .textcontainer {
      text-align: center;
      height: 187px;
      color: white;
      padding-top: 37px; }
      .promotours .container-one .textcontainer h2 {
        font-size: 60px; }
      .promotours .container-one .textcontainer p {
        font-size: 30px; }
      .promotours .container-one .textcontainer a {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        display: inline-block;
        width: 133px;
        height: 40px;
        padding-top: 10px;
        background-color: #79addc;
        color: white;
        text-decoration: none;
        margin-top: 57px;
        border-style: solid;
        border-color: #79addc;
        border-radius: 15px; }
  .promotours .container-two {
    width: 232px;
    height: 305px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/asset-11@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .promotours .container-two .textcontainer {
      text-align: center;
      height: 187px;
      color: white;
      padding-top: 37px; }
      .promotours .container-two .textcontainer h2 {
        font-size: 60px; }
      .promotours .container-two .textcontainer p {
        font-size: 30px; }
      .promotours .container-two .textcontainer a {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        display: inline-block;
        width: 133px;
        height: 40px;
        padding-top: 10px;
        background-color: #79addc;
        color: white;
        text-decoration: none;
        margin-top: 57px;
        border-style: solid;
        border-color: #79addc;
        border-radius: 15px; }
  .promotours .container-three {
    width: 232px;
    height: 305px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/asset-14@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .promotours .container-three .textcontainer {
      text-align: center;
      height: 187px;
      color: white;
      padding-top: 37px; }
      .promotours .container-three .textcontainer h2 {
        font-size: 60px; }
      .promotours .container-three .textcontainer p {
        font-size: 30px; }
      .promotours .container-three .textcontainer a {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        display: inline-block;
        width: 133px;
        height: 40px;
        padding-top: 10px;
        background-color: #79addc;
        color: white;
        text-decoration: none;
        margin-top: 57px;
        border-style: solid;
        border-color: #79addc;
        border-radius: 15px; }

.footer {
  width: 100%;
  height: 100px;
  background-color: #79addc;
  color: white; }
  .footer .container {
    justify-content: space-evenly;
    margin: 0 auto;
    display: flex;
    width: 1280px;
    text-align: center;
    padding-top: 42px; }
    .footer .container .logo {
      width: 92px;
      height: 42px;
      margin-top: -20px; }
    .footer .container .copyright {
      font-size: 12px;
      font-family: GillSansUB; }
    .footer .container .socials {
      display: flex;
      justify-content: space-evenly;
      width: 110px;
      font-size: 22px; }
