$center: 0 auto;

//this area is for widths and heights
$content-width: 980px;
$banner-footer-width:1280px;
$footer-height:100px;
$banner-height:500px;
$home-form-width:818px;



//this is for site colors
$site-blue:#79addc;
$site-white:white;
$site-black: black;

//this area is for buttons

